* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----- ----- cabesera del curriculum ----- -----*/

body {
    font-family: 'Open Sans', sans-serif;
    background: #f8f1f1;
}

.container {
    width: 90%;
    margin: auto;
    background: #19456b;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    position: relative;
}

header {
    /* pongo relative al padre, para que el hijo (absoute en circle) se mueva con respecto a este elemento */
    padding: 30px 0px 0px 0px;
}

header .container {
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    border: #2b2828 solid 2px;
}

.container .date {
    color: white;
    margin-right: 30px;
}

.container .date h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.container .date p {
    font-size: 22px;
}


/*----- ----- animacion del fondo ----- -----*/

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/*----- ----- cuerpo ----- -----*/

.main {
    display: flex;
}

.main .left-block h2 {
    font-size: 25px;
    color: white;
}

.main .left-block P {
    color: #e6e6e6;
}

.main .left-block {
    background-color: #11698e;
    padding: 25px;
    width: 60%;
}

.main .left-block .profile {
    margin-bottom: 20px;
}

.main .left-block .training {
    margin-bottom: 20px;
}

.main .left-block i {
    padding: 5px;
}

h2 {
    margin-bottom: 10px;
}

.main .left-block hr {
    margin-bottom: 15px;
    height: 1px;
    width: 70%;
    border: solid #e6e6e6;
}

a {
    color: white;
    text-decoration-line: none;
}

.main .right-block hr {
    margin-bottom: 15px;
    height: 5px;
    width: 70%;
    border: solid #2b2828;
}

.main .right-block {
    background: #e6e6e6;
    padding: 25px;
    width: 40%;
}

.main .right-block .skills li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #11698e;
    color: #fff;
}

.main .right-block ul {
    margin-bottom: 15px;
    padding: 10px;
}

.main .right-block h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.main .right-block p {
    margin-bottom: 10px;
}